# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/

# Build output
dist/
dist-ssr/

# Local env files
.env
.env.local
.env.*.local
.env.production
.env.development.local

# System files
.DS_Store
Thumbs.db

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Optional: evitar lockfiles si no quieres conflictos entre npm/yarn/pnpm
package-lock.json
yarn.lock
pnpm-lock.yaml

# Optional: evitar archivos temporales de imágenes o mockups
/public/*.psd
/public/*.xcf
/public/*.ai
/public/*.png
/public/*.jpg
